html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: #303050;
}

body {
    height: 80%;
    font: caption;
    background-color: #303050;
}

#save {
    width: 60px;
    margin: 2em;
    align-self: center;
    text-align: center;
}

#prompt {
    float: top;
    height: 10%;
    margin: 2em 2em 0 2em;
    border: .5em solid #DDE4E9;
    transition: background-color .2s ease-out;
}

#prompt[contenteditable=true] {
    background-color: cadetblue;
    transition: background-color .2s ease-in;
}

#content {
    float: bottom;
    height: 60%;
    margin: 2em 2em 0 2em;
    border: .5em solid #DDE4E9;
    transition: background-color .2s ease-out;
}

#content[contenteditable=true] {
    background-color: rosybrown;
    transition: background-color .2s ease-in;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}